<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>AQI</title>
    <style>
      * {
        user-select: none;
      }
      body {
        background-color: whitesmoke;
      }
      .main-card {
        background-color: white;
      }
    </style>
  </head>

  <body>
    <div class="container p-5">
      <div class="row">
        <div class="main-card col border shadow rounded pt-4 px-4 mx-5">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <h1 class="display-5">Air Quality Index Prediction</h1>
            </div>
          </div>
          <div class="row">
            <div class="col p-5">
              <form action="{{ url_for('predict')}}" method="post" class="row">
                <div class="mb-3 col-6">
                  <label for="avgTemp" class="form-label"
                    >Average Temperature</label
                  >
                  <input
                    type="text"
                    name="Average temperature"
                    placeholder="in Celcius"
                    required
                    class="form-control"
                    id="avgTemp"
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="maxTemp" class="form-label"
                    >Maximum Temperature</label
                  >
                  <input
                    class="form-control"
                    id="maxTemp"
                    type="text"
                    name="Max temperature"
                    placeholder="in Celcius"
                    required
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="minTemp" class="form-label"
                    >Minimum Temperature</label
                  >
                  <input
                    class="form-control"
                    id="minTemp"
                    type="text"
                    name="Min temperature"
                    placeholder="in Celcius"
                    required
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="atmpressure" class="form-label"
                    >Atmospheric pressure at sea level</label
                  >
                  <input
                    class="form-control"
                    id="atmpressure"
                    type="text"
                    name="Atmospheric pressure at sea level"
                    placeholder="in Pascal"
                    required
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="humidity" class="form-label">Humidity</label>
                  <input
                    class="form-control"
                    id="humidity"
                    type="text"
                    name="Humidity"
                    placeholder="in g/kg"
                    required
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="avgvis" class="form-label"
                    >Average Visibilty</label
                  >
                  <input
                    class="form-control"
                    id="avgvis"
                    type="text"
                    name="Average Visibilty"
                    placeholder="in metres"
                    required
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="velwind" class="form-label"
                    >Velocity of wind</label
                  >
                  <input
                    class="form-control"
                    id="velwind"
                    type="text"
                    name="velocity of wind"
                    placeholder="in m/s"
                    required
                  />
                </div>
                <div class="mb-3 col-6">
                  <label for="maxwind" class="form-label"
                    >Max substained wind speed</label
                  >
                  <input
                    class="form-control"
                    id="maxwind"
                    type="text"
                    name="Max substained wind speed"
                    placeholder="in m/s"
                    required
                  />
                </div>
                <div class="mb-3 col-8">
                  <label for="maxwind" class="form-label"
                    >Select the model for Prediction</label
                  >
                  <select
                    class="form-select"
                    aria-label="Model for Prediction"
                    name="model"
                    required
                  >
                    <option value="random_forest_prediction" selected>
                      Random Forest
                    </option>
                    <option value="knn_prediction">KNN</option>
                    <option value="ann_prediction">ANN</option>
                  </select>
                </div>
                <div
                  class="col-4 d-flex justify-content-center align-items-center"
                >
                  <button
                    type="submit"
                    class="btn btn-primary btn-block px-5 mt-3"
                  >
                    Predict
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 p-5">
          <div id="AQI-meter"></div>
        </div>
        <div class="col-6 p-5 mt-3">
          {% if prediction <= 50 %}
          <div class="card border-success mb-3" style="max-width: 18rem">
            <div class="card-header">{{prediction}}</div>
            <div class="card-body text-success">
              <p class="card-text">
                Healthy. <br />
                Enjoy.
              </p>
            </div>
          </div>
          {% elif prediction > 50 and prediction <= 150 %}
          <div class="card border-warning mb-3" style="max-width: 18rem">
            <div class="card-header">{{prediction}}</div>
            <div class="card-body text-warning">
              <p class="card-text">
                Moderate. <br />
                Go out with caution.
              </p>
            </div>
          </div>
          {% else %}
          <div class="card border-danger mb-3" style="max-width: 18rem">
            <div class="card-header">{{prediction}}</div>
            <div class="card-body text-danger">
              <p class="card-text">
                Very Dangerous.<br />
                Dont go out
              </p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script>
      google.charts.load("current", { packages: ["gauge"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Label", "Value"],
          ["AQI", Number("{{prediction}}")],
        ]);

        var options = {
          width: 600,
          height: 300,
          max: 300,
          redFrom: 151,
          redTo: 300,
          yellowFrom: 51,
          yellowTo: 150,
          greenFrom: 0,
          greenTo: 50,
          minorTicks: 5,
        };

        var chart = new google.visualization.Gauge(
          document.getElementById("AQI-meter")
        );

        chart.draw(data, options);
      }
    </script>
  </body>
</html>
